/3rd/glfw-3.2.1.bin.WIN64
/tools/vlua
/bin/plugins
/bin/puss*
/include/lua*.h
/include/lauxlib.h
/objs
/.vs
/.vscode
*.VC.opendb
*.VC.db-wal
*.VC.db-shm
*.VC.db
*.aps
*.ipch
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.lib
*.ttf
*.ini
.atom*