/3rd/glfw-3.2.1.bin.WIN64
/tools/vlua
/bin/modules
/bin/*.so
/bin/puss*
/objs
/include/lua*.h
/include/lauxlib.h
*.VC.opendb
*.VC.db-wal
*.VC.db-shm
*.VC.db
*.ipch
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.lib
*.ttf
*.ini
.atom*